@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

html{
	font-size: 62.5;	
}


*{
	font-family: 'EB Garamond', serif;
	font-size: 1.2rem;
	line-height: 1.5rem;
	font-style: italic;
	padding: 0;
	margin: 0;
	}

.logo{
	width: 10%;
}

.logoMain{
	width: 100%;
}



.backGround{
	background-color: #000000;
}

imagenMain{
	width: 100%;
	height: auto;
}

.eslogan p{
	font-size: 2.5rem;
	color: white;
	position: absolute;
	top: 50%;
	left: 10%;
}


/*formulario*/

